@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-abyss-950 text-slate-200 font-sans overflow-hidden select-none;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

@layer utilities {
  .fantasy-font {
    font-family: 'Cinzel', serif;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .mask-image-b {
    mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-abyss-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-700 rounded-full;
}
